body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor del formulario */
.login-container {
    padding: 2rem 2.5rem;
    background-color: white;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    color: #333;
    font-size: 32px;
    margin-bottom: 1.5rem;
}

.login-container label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
    font-weight: bold;
    font-size: 16px;
}

.login-container input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.login-container input:focus {
    border-color: blue;
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 255, 0.5);
}

.login-container button {
    width: 100%;
    padding: 0.75rem;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: darkblue;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 1rem;
    text-align: center;
}
